{%extends 'base.html' %}
{% block content %}
<section class="section">
  <div class="container">
    <div class="box">
      <h1 class="title">Log In</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="field">
          <label class="label" for="id_username">Username</label>
          <input class="input is-primary" type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150"
          required="" id="id_username">
        </div>
        <div class="field">
          <label class="label" for="id_password">Password</label>
          <input class="input is-primary" type="password" name="password" autocomplete="current-password" required="" id="id_password">
        </div>
        <button class="button is-primary" type="submit">Log In</button>
      </form>
    </div>
  </div>
</section>

{% endblock %}